# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
src/dizionario.json
src/svuotamenti.json
secrets.json

node_modules/
.DS_Store
secrets.json
.legacy
alexa-skill/.ask/lambda
